@using Project_16HCB_View.Utilities;
<div class="w3-bar-block">
    <div href="#" onclick="window.location.href = '#'; w3_close()" class="w3-bar-item w3-button w3-hover-white">Trang Chủ</div>
    <div href="#designers" onclick="window.location.href = '#designers'; w3_close()" class="w3-bar-item w3-button w3-hover-white">Tin Tức</div>
    <div href="#student" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white dropdown">
        Sinh Viên
        
            <div class="dropdown-content">
                @if ((int)SessionProvider.GetUserTypeFromSession() == 2)
                {
                    <div>
                        @Html.ActionLink("Gửi mail", "SendMail", "SendMail", null, new { style = "text-decoration: none;" })
                    </div>
                    
                }
                @if ((int)SessionProvider.GetUserTypeFromSession() == 1)
                {
                    <div>
                        @Html.ActionLink("Thời Khóa Biểu", "ThoiKhoabieu", "ThoiKhoabieu", null, new { style = "text-decoration: none;" })
                    </div>
                    <hr />
                    <div>
                        @Html.ActionLink("Thông Tin Điểm Danh", "Infodiemdanh", "Student", null, new { style = "text-decoration: none;" })
                    </div>
                    <hr />
                    <div>
                        @Html.ActionLink("Tạo Phiếu Điểm", "TaoPhieuDiem", "PhieuDiem", null, new { style = "text-decoration: none;" })
                    </div>
                    <hr />
                    <div>
                        @Html.ActionLink("Nhận Phiếu Điểm (" + SessionProvider.GetSoLuongResTraPhieuDiemFromSession() + ")", "NhanPhieuDiem", "PhieuDiem", null, new { style = "text-decoration: none;" })
                    </div>
                }

            </div>
       

    </div>

    <div href="#teacher" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white dropdown">
        Giáo Viên

        @if ((int)SessionProvider.GetUserTypeFromSession() == 2)
        {
            <div class="dropdown-content">
                <div>
                    @Html.ActionLink("Gửi mail", "SendMail", "SendMail", null, new { style = "text-decoration: none;" })
                </div>
                <hr>
                <div>
                    @Html.ActionLink("Thông Tin Phiếu Điểm (" + SessionProvider.GetSoLuongResPhieuDiemFromSession() + ")", "DanhSachPhieuDiem", "PhieuDiem", null, new { style = "text-decoration: none", id = "sores" })
                </div>
                <hr />
                <div>
                    @Html.ActionLink("Thống kê số lượng nghỉ", "ReportStudent", "Report", null, new { style = "text-decoration: none;" })
                </div>
            </div>

        }




    </div>
    <div href="#contact" onclick="window.location.href = '#contact'; w3_close()" class="w3-bar-item w3-button w3-hover-white">Chương Trình Đào Tạo</div>
    <div href="#login" class="w3-bar-item w3-button w3-hover-white">
        @Html.ActionLink("Đăng nhập", "Login", "Login", null, new { style = "text-decoration: none;" })
    </div>
</div>
